<html>
<body>
<form method="post" ng-submit="submit()">
<table class="table" style="width: 60%;margin-left: 15%;">
	<tr>
			<td>
		 		<label> Title	: </label>
		 	</td>
		 	<td>
	    		<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.name" required>
	    		<label class="control-label error" data-ng-show="uniqueName==true" style="color: red;">Title already exists.</label>
	    	</td>
	</tr>
	<tr>
			<td>
		 		<label> Target Age	: </label>
		 	</td>
		 	<td>
		 		<span style="float:left;">From</span>
		 		<span style="float:left;margin-left: 4%;">
		 			<select class="form-control" data-ng-model="formData.TargetAgeMinMonth" name="TargetAgeMinMonth">
		 				<option value=-999>Before Birth</option>
		 				<option value=-10>Pregnacy 0m</option>
		 				<option value=-7>Pregnacy 3m</option>
		 				<option value=-4>Pregnacy 6m</option>
		 				<option value=0>Birth</option>
		 				<option value=1>1m</option>
		 				<option value=2>2m</option>
		 				<option value=3>3m</option>
		 				<option value=6>6m</option>
		 				<option value=9>9m</option>
		 				<option value=12>12m</option>
		 				<option value=18>1.5yr</option>
		 				<option value=24>2.0yr</option>
		 				<option value=36>3.0yr</option>
		 				<option value=48>4.0yr</option>
		 				<option value=60>5.0yr</option>
		 				<option value=72>6.0yr</option>
		 				<option value=999>Older</option>
		 			</select>
				</span>
				<span style="float:left;margin-left: 4%;">To</span>
				<span style="float:left;margin-left: 4%;">
					<select class="form-control" data-ng-model="formData.TargetAgeMaxMonth" name="TargetAgeMaxMonth">
						<option value=-999>Before Birth</option>
						<option value=-10>Pregnancy 0m</option>
		 				<option value=-7>Pregnancy 3m</option>
		 				<option value=-4>Pregnancy 6m</option>
		 				<option value=0>Birth</option>
		 				<option value=1>1m</option>
		 				<option value=2>2m</option>
		 				<option value=3>3m</option>
		 				<option value=6>6m</option>
		 				<option value=9>9m</option>
		 				<option value=12>12m</option>
		 				<option value=18>1.5yr</option>
		 				<option value=24>2.0yr</option>
		 				<option value=36>3.0yr</option>
		 				<option value=48>4.0yr</option>
		 				<option value=60>5.0yr</option>
		 				<option value=72>6.0yr</option>
		 				<option value=999>Older</option>
						
					</select>
				</span>
			</td>
			<td><label class="control-label error" data-ng-show="TargetAgeNotSelected==true" style="color: red;">Please Select Target Age.</label></td>
	</tr>
			<tr data-ng-show="TargetAgeCondition==true">
				<td></td>
				<td><label class="control-label error"  style="color: red;">MinTargetAge should be less than MaxTargetAge.</label></td>
			</tr>
			<tr>
				<td>
		 			<label> TargetGender	: </label>
		 		</td>
		 		<td>
		 			<select class="form-control" name="TargetGender" data-ng-model="formData.TargetGender" style="width: 30%;">
		 			<option value=0>Choose</option>
		 			<option value=1>Male</option>
		 			<option value=2>Female</option>
		 			</select>
	    		</td>
			</tr>
			<tr>
				<td>
		 			<label> TargetParentGender	: </label>
		 		</td>
		 		<td>
		 			<select class="form-control" name="TargetParentGender" data-ng-model="formData.TargetParentGender" style="width: 30%;">
		 			<option value=0>Choose</option>
		 			<option value=1>Male</option>
		 			<option value=2>Female</option>
		 			</select>
	    		</td>
			</tr>
			<tr>
				<td>
					<label> TargetDistrict	: </label>
				</td>
				<td>
					<input type="text" class="form-control" data-ng-model="formData.TargetDistrict" name="TargetDistrict">
				</td>
			</tr>
			<tr>
			<td>
		 		<label> Category	: </label>
		 	</td>
		 	<td>
		 		<!-- <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Choose Category" data-ng-model="formData.category" name="category"> -->
			
				<div class="col-md-8" style="padding: 0 0px;">
                			<li class="col-md-12 dropdown" style="padding: 0 0px;" validator="[required]" required>
                 			<div class="form-control dropdown-toggle">
                 				<div class="media-body">
						       		<p class="margin-none pull-left">{{category_name}}</p>
						    	</div>
	   							<div data-ng-if="!isChosen" data-ng-init="isChosen=false">
	   								Choose Category
	   							</div>
 							</div>
 							<p class="margin-none pull-left" style="display: none;">{{category_id}}</p>
                  		<ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
							<li class="media" data-ng-repeat="category in articleCategories" style="margin-top: 1%;">
						        <a href="" data-ng-click="select_category(category.id, category.name,category.pn)">
									<input type="hidden" data-ng-model="formData.category" >
									<div class="media-body">
						            	<p class="margin-none pull-left">{{category.name}}</p>
						        	</div>							        	
						        </a>
							</li>
				      	</ul>
				      </li>
				      <label class="control-label error" data-ng-show="categoryNotChoose==true" style="color: red;">Please select category.</label>
                		</div>
			
			</td>
	</tr>
</table>
		<div style="margin-left: 15%;width: 60%">
			<textarea data-ui-tinymce='tinymceOptions' data-ng-model="formData.description"></textarea>
		</div>
		<div style="margin-top: 4%;margin-left: 69%;">
		<button type="submit" class="btn btn-primary ng-binding">
				<span class="glyphicon glyphicon-ok" ></span>
				{{submitBtn}}
		</button>
		</div>
</form>		
</body>		
<style>

.mce-panel{
	width: 100% !important;
	left: 0px !important;
}

</style>
</html>		