<head>
	<div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body>
    <h4>Create Campaign</h4>
    <form method="post" ng-submit="createCampaign()">
        <table class="table" style="width: 60%;margin-left: 15%;">
            <tr>
                <td>
                    <label> Title   : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.name" required>
                    <label class="control-label error" data-ng-show="uniqueName==true" style="color: red;">Title already exists.</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Campaign Type  : </label>
                </td>
                <td>
                    <span style="float:left;margin-left: 4%;">
                        <select class="form-control" data-ng-model="formData.campaignType" name="campaignType">
                            <option value='ACTIONS'>ACTIONS</option>
                            <option value='QUESTIONS'>QUESTIONS</option>
                            <option value='VOTING'>VOTING</option>
                            <option value='PHOTO_CONTEST'>PHOTO_CONTEST</option>
                        </select>
                    </span>
                </td>
                <td><label class="control-label error" data-ng-show="campaignTypeNotChoose==true" style="color: red;">Please Select Campaign Type.</label></td>
            </tr>
            <tr>
                <td><label>Start Date</label></td>
                <td>
                    <div class="form-group dropdown">
                        <input type="text" name="startDate"
                            class="input-sm form-control dropdown-toggle textStyle"
                            data-toggle="dropdown"
                            value="{{formData.startDate | date:'MM-dd-yyyy hh:mm a' || 'Start'}}"
                            placeholder="Start">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="formData.startDate" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',minView: 'minute' }"></datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>End Date</label></td>
                <td>
                    <div class="form-group dropdown">
                        <input type="text" name="startDate"
                            class="input-sm form-control dropdown-toggle textStyle"
                            data-toggle="dropdown"
                            value="{{formData.endDate | date:'MM-dd-yyyy hh:mm a' || 'End'}}"
                            placeholder="End">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="formData.endDate" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',minView: 'minute' }"></datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr data-ng-show="startEndDateNotEntered==true">
                <td></td>
                <td><label class="control-label error" style="color: red;">Please enter start date and end date</label></td>
            </tr>
            <tr data-ng-show="startEndDateCondition==true">
                <td></td>
                <td><label class="control-label error" style="color: red;">Start date after end date</label></td>
            </tr>
            <tr>
                <td>
                    <label> Announcement Type  : </label>
                </td>
                <td>
                    <span style="float:left;margin-left: 4%;">
                        <select class="form-control" data-ng-model="formData.announcementType" name="announcementType">
                            <option value='WINNERS'>WINNERS</option>
                            <option value='CUSTOM'>CUSTOM</option>
                        </select>
                    </span>
                </td>
                <td><label class="control-label error" data-ng-show="announcementTypeNotChoose==true" style="color: red;">Please Select Announcement Type.</label></td>
            </tr>
            <tr>
                <td>
                    <label> Image   : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.image" required>
                </td>
            </tr>
        </table>
        <div data-ng-controller="EditCampaignController">
	        <input type="file" name="url-photo" ng-file-select="onFileSelect($files)"/>
            <p>{{path}}</p>
        </div>
        <div style=" width: 70%;margin-left: 15%;">
            <div style="font-weight:bold;margin:15px 0;">Details:</div>
            <textarea name="description" id="description" data-ui-tinymce='tinymceOptions' data-ng-model="formData.description" style="height: 300px;"></textarea>
        </div>
        <div style=" width: 70%;margin-left: 15%;">
            <div style="font-weight:bold;margin:15px 0;">Winners / Announcements:</div>
            <textarea name="announcement" id="announcement" data-ng-model="formData.announcement" style="height: 150px;"></textarea>
        </div>
        <div style="margin-top: 4%;margin-left: 70%;">
            <button type="submit" class="btn btn-primary ng-binding">
                <span class="glyphicon glyphicon-ok" ></span>
                {{submitBtn}}
            </button>
        </div>
    </form>     
</body>  
   
<style>

.mce-panel{
    width: 100% !important;
    left: 0px !important;
}

</style>
