<html>
<body>
<form method="post" ng-submit="submit()">
<table class="table" style="width: 60%;margin-left: 15%;">
	<tr>
			<td>
		 		<label> Title	: </label>
		 	</td>
		 	<td>
	    		<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" validator="[required]" data-ng-model="formData.name" required>
	    		<label class="control-label error" data-ng-show="uniqueName==true" style="color: red;">Title already exists.</label>
	    	</td>
	</tr>
	<tr>
			<td>
		 		<label> Featured	: </label>
		 	</td>
		 	<td>
		 		<input type="checkbox" data-ng-model="formData.isFeatured" data-ng-init="formData.isFeatured=false">
		 	</td>	
	</tr>
	<tr>
			<td>
		 		<label> Target Age	: </label>
		 	</td>
		 	<td>
		 		<select class="form-control" data-ng-model="formData.targetAge" data-ng-options="range for range in targetAge"></select>
			</td>
	</tr>
	<tr>
			<td>
		 		<label> Category	: </label>
		 	</td>
		 	<td>
		 		<!-- <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Choose Category" data-ng-model="formData.category" name="category"> -->
			
				<div class="col-md-8" style="padding: 0 0px;">
                			<li class="col-md-12 dropdown" style="padding: 0 0px;" validator="[required]" required>
                 			<div class="form-control dropdown-toggle">
                 				<div class="media-body">
						       		<p class="margin-none pull-left">{{category_name}}</p>
						    	</div>
	   							<div data-ng-if="!isChosen" data-ng-init="isChosen=false">
	   								Choose Category
	   							</div>
 							</div>
 							<p class="margin-none pull-left" style="display: none;">{{category_id}}</p>
                  		<ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
							<li class="media" data-ng-repeat="category in articleCategories" style="margin-top: 1%;">
						        <a href="" data-ng-click="select_category(category.id, category.name,category.pn)">
									<input type="hidden" data-ng-model="formData.category" >
									<div class="media-body">
						            	<p class="margin-none pull-left">{{category.name}}</p>
						        	</div>							        	
						        </a>
							</li>
				      	</ul>
				      </li>
				      <label class="control-label error" data-ng-show="categoryNotChoose==true" style="color: red;">Please select category.</label>
                		</div>
			
			</td>
	</tr>
</table>
		<div style="margin-left: 15%;width: 60%">
			<textarea data-ui-tinymce='tinymceOptions' data-ng-model="formData.description"></textarea>
		</div>
		<div style="margin-top: 4%;margin-left: 69%;">
		<button type="submit" class="btn btn-primary ng-binding">
				<span class="glyphicon glyphicon-ok" ></span>
				{{submitBtn}}
		</button>
		</div>
</form>		
</body>		
<style>

.mce-panel{
	width: 100% !important;
	left: 0px !important;
}

</style>
</html>		