<head>
	<div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body>
    <h4>Create Article</h4>
    <form method="post" ng-submit="submit()">
        <table class="table" style="width: 60%;margin-left: 15%;">
            <tr>
                <td>
                    <label> Title   : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.name" required>
                    <label class="control-label error" data-ng-show="uniqueName==true" style="color: red;">Title already exists.</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Target Age  : </label>
                </td>
                <td>
                    <span style="float:left;">From</span>
                    <span style="float:left;margin-left: 4%;">
                        <select class="form-control" data-ng-model="formData.targetAgeMinMonth" name="TargetAgeMinMonth">
                            <option value=-999>Before Pregnacy</option>
                            <option value=-10>Pregnacy 0m</option>
                            <option value=-9>Pregnacy 1m</option>
                            <option value=-8>Pregnacy 2m</option>
                            <option value=-7>Pregnacy 3m</option>
                            <option value=-6>Pregnacy 4m</option>
                            <option value=-5>Pregnacy 5m</option>
                            <option value=-4>Pregnacy 6m</option>
                            <option value=-3>Pregnacy 7m</option>
                            <option value=-2>Pregnacy 8m</option>
                            <option value=-1>Pregnacy 9m</option>
                            <option value=0>Birth</option>
                            <option value=1>1m</option>
                            <option value=2>2m</option>
                            <option value=3>3m</option>
                            <option value=4>4m</option>
                            <option value=5>5m</option>
                            <option value=6>6m</option>
                            <option value=7>7m</option>
                            <option value=8>8m</option>
                            <option value=9>9m</option>
                            <option value=10>10m</option>
                            <option value=11>11m</option>
                            <option value=12>12m</option>
                            <option value=18>1.5yr</option>
                            <option value=24>2.0yr</option>
                            <option value=36>3.0yr</option>
                            <option value=48>4.0yr</option>
                            <option value=60>5.0yr</option>
                            <option value=72>6.0yr</option>
                            <option value=999>Older</option>
                        </select>
                    </span>
                    <span style="float:left;margin-left: 4%;">To</span>
                    <span style="float:left;margin-left: 4%;">
                        <select class="form-control" data-ng-model="formData.targetAgeMaxMonth" name="TargetAgeMaxMonth">
                            <option value=-999>Before Pregnacy</option>
                            <option value=-10>Pregnacy 0m</option>
                            <option value=-9>Pregnacy 1m</option>
                            <option value=-8>Pregnacy 2m</option>
                            <option value=-7>Pregnacy 3m</option>
                            <option value=-6>Pregnacy 4m</option>
                            <option value=-5>Pregnacy 5m</option>
                            <option value=-4>Pregnacy 6m</option>
                            <option value=-3>Pregnacy 7m</option>
                            <option value=-2>Pregnacy 8m</option>
                            <option value=-1>Pregnacy 9m</option>
                            <option value=0>Birth</option>
                            <option value=1>1m</option>
                            <option value=2>2m</option>
                            <option value=3>3m</option>
                            <option value=4>4m</option>
                            <option value=5>5m</option>
                            <option value=6>6m</option>
                            <option value=7>7m</option>
                            <option value=8>8m</option>
                            <option value=9>9m</option>
                            <option value=10>10m</option>
                            <option value=11>11m</option>
                            <option value=12>12m</option>
                            <option value=18>1.5yr</option>
                            <option value=24>2.0yr</option>
                            <option value=36>3.0yr</option>
                            <option value=48>4.0yr</option>
                            <option value=60>5.0yr</option>
                            <option value=72>6.0yr</option>
                            <option value=999>Older</option>
                            
                        </select>
                    </span>
                </td>
                <td><label class="control-label error" data-ng-show="targetAgeNotSelected==true" style="color: red;">Please Select Target Age.</label></td>
            </tr>
            <tr data-ng-show="targetAgeCondition==true">
                <td></td>
                <td><label class="control-label error"  style="color: red;">MinTargetAge should be less than MaxTargetAge.</label></td>
            </tr>
            <tr>
                <td>
                    <label> TargetGender    : </label>
                </td>
                <td>
                    <select class="form-control" name="TargetGender" data-ng-model="formData.targetGender" style="width: 30%;">
                    <option value=0>Both</option>
                    <option value=1>Boy</option>
                    <option value=2>Girl</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label> TargetParentGender  : </label>
                </td>
                <td>
                    <select class="form-control" name="TargetParentGender" data-ng-model="formData.targetParentGender" style="width: 30%;">
                    <option value=0>Both</option>
                    <option value=1>Father</option>
                    <option value=2>Mother</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label> TargetLocation  : </label>
                </td>
                <td>
                    <div class="col-md-8" style="padding: 0 0px;">
                        <li class="col-md-12 dropdown" style="padding: 0 0px;" required>
                            <div class="form-control dropdown-toggle">
                                <div class="media-body">
                                    <p class="margin-none pull-left">{{targetLocation_name}}</p>
                                </div>
                                <div data-ng-if="!isLocationChosen" data-ng-init="isLocationChosen=false">
                                    {{targetLocations[0].displayName}}
                                </div>
                            </div>
                            <p class="margin-none pull-left" style="display: none;">{{targetLocation_id}}</p>
                            <ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
                                <li class="media" data-ng-repeat="targetLocation in targetLocations" style="margin-top: 1%;">
                                    <a href="" data-ng-click="select_targetLocation(targetLocation.id, targetLocation.displayName)">
                                        <input type="hidden" data-ng-model="formData.targetLocation" >
                                        <div class="media-body">
                                            <p class="margin-none pull-left">{{targetLocation.displayName}}</p>
                                        </div>                                      
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <label class="control-label error" data-ng-show="targetLocationNotChoose==true" style="color: red;">Please select a location.</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Category    : </label>
                </td>
                <td>
                    <!-- <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Choose Category" data-ng-model="formData.category" name="category"> -->
                
                    <div class="col-md-8" style="padding: 0 0px;">
                        <li class="col-md-12 dropdown" style="padding: 0 0px;" required>
                            <div class="form-control dropdown-toggle">
                                <div class="media-body">
                                    <p class="margin-none pull-left">{{category_name}}</p>
                                </div>
                                <div data-ng-if="!isChosen" data-ng-init="isChosen=false">
                                    Choose Category
                                </div>
                            </div>
                            <p class="margin-none pull-left" style="display: none;">{{category_id}}</p>
                            <ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
                                <li class="media" data-ng-repeat="category in articleCategories" style="margin-top: 1%;">
                                    <a href="" data-ng-click="select_category(category.id, category.name,category.pn)">
                                        <input type="hidden" data-ng-model="formData.category" >
                                        <div class="media-body">
                                            <p class="margin-none pull-left">{{category.name}}</p>
                                        </div>                                      
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <label class="control-label error" data-ng-show="categoryNotChoose==true" style="color: red;">Please select a category.</label>
                    </div>
                </td>
           </tr>
        </table>
        <div data-ng-controller="EditArticleController">
	        <input type="file" name="url-photo" ng-file-select="onFileSelect($files)"/>
	         <p>{{path}}</p>
        </div>
        <div style="margin-left: 15%;width: 70%">
            <textarea class="editor" data-ui-tinymce='tinymceOptions' data-ng-model="formData.description" style="height: 300px;"></textarea>
        </div>
        <div style="margin-top: 4%;margin-left: 69%;">
        <button type="submit" class="btn btn-primary ng-binding">
                <span class="glyphicon glyphicon-ok" ></span>
                {{submitBtn}}
        </button>
        </div>
    </form>     
</body>

<style>

.mce-panel{
    width: 100% !important;
    left: 0px !important;
}

</style>
