<head>
	<div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body>
    <h4>Create Game Gift</h4>
    <form method="post" ng-submit="createGameGift()">
        <table class="table" style="width: 60%;margin-left: 15%;">
            <tr>
                <td>
                    <label> Title : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.name" required>
                    <label class="control-label error" data-ng-show="uniqueName==true" style="color: red;">Title already exists.</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Points : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid" data-ng-model="formData.requiredPoints">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Level : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid" data-ng-model="formData.requiredLevel">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Quantity Total : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid" data-ng-model="formData.quantityTotal">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Quantity Available : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid" data-ng-model="formData.quantityAvailable">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Feature Type : </label>
                </td>
                <td>
                    <span style="float:left;margin-left:4%;">
                        <select class="form-control" data-ng-model="formData.featureType" name="featureType">
                            <option value='NONE'>NONE</option>
                            <option value='RECOMMEND'>RECOMMEND</option>
                            <option value='SPONSORED'>SPONSORED</option>
                        </select>
                    </span>
                </td>
                <td><label class="control-label error" data-ng-show="featureTypeNotChoose==true" style="color: red;">Please Select Feature Type.</label></td>
            </tr>
            <tr>
                <td>
                    <label> Redeem Type : </label>
                </td>
                <td>
                    <span style="float:left;margin-left: 4%;">
                        <select class="form-control" data-ng-model="formData.redeemType" name="redeemType">
                            <option value='POINTS'>POINTS</option>
                            <option value='LEVEL'>LEVEL</option>
                        </select>
                    </span>
                </td>
                <td><label class="control-label error" data-ng-show="redeemTypeNotChoose==true" style="color: red;">Please Select Redeem Type.</label></td>
            </tr>
            <tr>
                <td>
                    <label> Gift Type : </label>
                </td>
                <td>
                    <span style="float:left;margin-left: 4%;">
                        <select class="form-control" data-ng-model="formData.giftType" name="giftType">
                            <option value='EXPIRATION'>EXPIRATION</option>
                            <option value='QUANTITY'>QUANTITY</option>
                        </select>
                    </span>
                </td>
                <td><label class="control-label error" data-ng-show="giftTypeNotChoose==true" style="color: red;">Please Select Gift Type.</label></td>
            </tr>
            <tr>
                <td><label>Start Date</label></td>
                <td>
                    <div class="form-group dropdown">
                        <input type="text" name="startDate"
                            class="input-sm form-control dropdown-toggle textStyle"
                            data-toggle="dropdown"
                            value="{{formData.startDate | date:'MM-dd-yyyy hh:mm a' || 'Start'}}"
                            placeholder="Start">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="formData.startDate" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',minView: 'minute' }"></datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>End Date</label></td>
                <td>
                    <div class="form-group dropdown">
                        <input type="text" name="startDate"
                            class="input-sm form-control dropdown-toggle textStyle"
                            data-toggle="dropdown"
                            value="{{formData.endDate | date:'MM-dd-yyyy hh:mm a' || 'End'}}"
                            placeholder="End">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="formData.endDate" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',minView: 'minute' }"></datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr data-ng-show="startEndDateNotEntered==true">
                <td></td>
                <td><label class="control-label error" style="color: red;">Please enter start date and end date</label></td>
            </tr>
            <tr data-ng-show="startEndDateCondition==true">
                <td></td>
                <td><label class="control-label error" style="color: red;">Start date after end date</label></td>
            </tr>
            <tr>
                <td>
                    <label> Image : </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.image" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Image Thumb: </label>
                </td>
                <td>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="formData.imageThumb" required>
                </td>
            </tr>
        </table>
        <div style="width:70%;margin-left:15%;margin-bottom:50px;" data-ng-controller="EditGameGiftController">
	        <input type="file" name="url-photo" ng-file-select="onFileSelect($files)"/>
            <p>{{path}}</p>
        </div>
        <div style="width:70%;margin-left:15%;margin-bottom:10px;">
            <div style="width:35%;display:inline-block;font-weight:bold;">Description</div>
            <textarea name="description" id="description" data-ng-model="formData.description" style="width:50%;height:80px;"></textarea>
        </div>
        <div style="width:70%;margin-left:15%;margin-bottom:10px;">
            <div style="width:35%;display:inline-block;font-weight:bold;">Redeem Info:</div>
            <textarea name="redeemInfo" id="redeemInfo" data-ng-model="formData.redeemInfo" style="width:50%;height:80px;"></textarea>
        </div>
        <div style="width:70%;margin-left:15%;margin-bottom:10px;">
            <div style="width:35%;display:inline-block;font-weight:bold;">Expiration Info:</div>
            <textarea name="expirationInfo" id="expirationInfo" data-ng-model="formData.expirationInfo" style="width:50%;height:80px;"></textarea>
        </div>
        <div style="width:70%;margin-left:15%;margin-bottom:10px;">
            <div style="width:35%;display:inline-block;font-weight:bold;">Shipping Info:</div>
            <textarea name="shippingInfo" id="shippingInfo" data-ng-model="formData.shippingInfo" style="width:50%;height:80px;"></textarea>
        </div>
        <div style="width:70%;margin-left:15%;margin-bottom:10px;">
            <div style="width:35%;display:inline-block;font-weight:bold;">Customer Care Info:</div>
            <textarea name="customerCareInfo" id="customerCareInfo" data-ng-model="formData.customerCareInfo" style="width:50%;height:80px;"></textarea>
        </div>
        <div style="width:70%;margin-left:15%;margin-bottom:10px;">
            <div style="width:35%;display:inline-block;font-weight:bold;">More Info:</div>
            <textarea name="moreInfo" id="moreInfo" data-ng-model="formData.moreInfo" style="width:50%;height:80px;"></textarea>
        </div>
        <div style="margin-top: 4%;margin-left: 70%;">
            <button type="submit" class="btn btn-primary ng-binding">
                <span class="glyphicon glyphicon-ok" ></span>
                {{submitBtn}}
            </button>
        </div>
    </form>     
</body>  
   
<style>

.mce-panel{
    width: 100% !important;
    left: 0px !important;
}

</style>
