<html>
<body>
<form method="post" editable-form name="article_data" onaftersave="updateArticleData($data)">
<table class="table" style="width: 50%;margin-left: 15%;">
	<tr>
			<td>
		 		<label> Title	: </label>
		 	</td>
		 	<td>
	    		<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" data-ng-model="article.name">
	    		<input type="hidden" data-ng-model="article.id">
	    	</td>
	</tr>
	<tr>
			<td>
		 		<label> Featured	: </label>
		 	</td>
		 	<td>
		 		<input type="checkbox" data-ng-model="article.isFeatured" data-ng-init="article.isFeatured=false">
		 	</td>	
	</tr>
	<tr>
			<td>
		 		<label> Target Age	: </label>
		 	</td>
		 	<td>
		 		<select class="form-control" data-ng-model="article.targetAge" data-ng-options="range for range in targetAge"></select>
			</td>
	</tr>
	<tr>
			<td>
		 		<label> Category	: </label>
		 	</td>
		 	<td>
		 		<!-- <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Choose Category" data-ng-model="formData.category" name="category"> -->
			
				<div class="col-md-8" style="padding: 0 0px;">
                			<li class="col-md-12 dropdown" style="padding: 0 0px;">
                 			<div class="form-control dropdown-toggle">
                 				<div class="media-body">
						       		<p class="margin-none pull-left">{{article.category.name}}</p>
						    	</div>
 							</div>
 							<input type="hidden" data-ng-model="article.ct.id">
                  		<ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
							<li class="media" data-ng-repeat="category in articleCategorys" style="margin-top: 1%;">
						        <a href="" data-ng-click="select_category(category.id, category.name,category.pn)">
									<input type="hidden" data-ng-model="category.id" >
									<div class="media-body">
						            	<p class="margin-none pull-left">{{category.name}}</p>
						        	</div>							        	
						        </a>
							</li>
				      	</ul>
				      </li>
                		</div>
			
			</td>
	</tr>
</table>
		<div style=" width: 50%;margin-left: 15%;">
			<textarea data-ui-tinymce='tinymceOptions' data-ng-model="article.description" style="height: 300px;"></textarea>
		</div>
		<div style="margin-top: 4%;margin-left: 59%;">
		<button type="submit" class="btn btn-primary ng-binding">
				<span class="glyphicon glyphicon-ok" ></span>
				{{submitBtn}}
		</button>
		</div>
</form>		
</body>		
</html>		
	<style>

.mce-panel{
	width: 100% !important;
	left: 0px !important;

}

</style>
