<ul class="nav nav-tabs" role="tablist" id="myTab">
	  <!--li class="active"><a href="/#/manageArticles" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Articles</a></li-->
	  <li><a href="#/manageArticles" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Articles</a></li>
	  <li><a href="#/manageFrontPageTopics" role="tab" data-toggle="tab" style="cursor: pointer;">Manage FrontPage Topics</a></li>
	  <li><a href="#/manageAnnouncements" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Announcements</a></li>
	  <li><a href="#/manageCampaigns" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Campaigns</a></li>
	  <li><a href="#/managePosts" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Posts</a></li>
	  <li><a href="#/manageComments" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Comments</a></li>
	  <li><a href="#/manageQuestions" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Questions</a></li>
	  <li><a href="#/manageAnswers" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Answers</a></li>
	  <li><a href="#/manageCommunities" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Communities</a></li>
	  <li><a href="#/manageUsers2" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Users</a></li>
	  <li><a href="#/manageEdm" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Edm</a></li>
	  <li><a href="#/manageGameAccount" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Game Account</a></li>
	  <li><a href="#/manageRedemption" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Redemption</a></li>
	  <li><a href="#/managePhotoUpload" role="tab" data-toggle="tab" style="cursor: pointer;">Photo Upload</a></li>
	  <form action="/logout" method="get"><input type="submit" value="logout" style="margin-left: 92%;"></form>
</ul>