<head>
    <div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

  		<h4>Manage Game Account</h4>
		<!-- Nav tabs -->
		
		<!-- Tab panes -->
		  <div class="tab-pane" id="search">
			    
			    <section id="container">
			    	<section class="" style="width:625px;margin-left: 26%;">
			        	<section class="dadsrch" style="width:625px;">
			            	<section class="heading"><h2>User Search By name</h2></section>
			                <section class="dadsrchdiv">
			                	<input name="title" type="text" ng-model="query" class="" style="height:1%;width:50%;" >
			                </section>
			            </section>
			             
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="user in allUsers | filter: query" class="row tm bg-white border-bottom">
			                            <td style="border: 1px solid;border-color: rgb(209, 205, 200);">
				                            <div>
				                            	<b>User Name : {{user.nm}}</b>
				                            	<button ng-show="user.rs == 'InProgress'"class="margin-none pull-right" ng-click="setResult(user)"data-toggle="modal" data-target="#confermation" >Confirm</button>
				                            </div>
				                            <div>
				                            	<b>User ID : {{user.uId}}</b>
				                            </div>
				                            <div>
				                            	<b>Total Points :</b> {{user.rp}}
				                            </div>
				                            <div>
				                            	<b>redemption State :</b> {{user.rs}}
				                            </div>
				                            
			                            </td>
			                            
			                            
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			        </section>
			    </section>
			  
			  </div>
		
		<!-- Confermataiion Model -->
		<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.4);" id="confermation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Alert</h4>
		      </div>
		      <div class="modal-body" >
		        Are you sure, you want to Proceed?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="confirmRedemption()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		  </div>
		  
