<head>
    <div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body>
    <div class="panel panel-default">
        <div class="panel-body" style="margin-left: 25%;margin-right: 25%;">
            <form method="post" ng-submit="uploadPhoto()" enctype="multipart/form-data">
                <table class="table" border=0>
                    <tr style="background-color: cornflowerblue;">
                        <th>Photo Upload</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><p ng-show="isUpload == true" style="color:green;"><b>Success</b> Path - </p></td>
                        <td><p ng-show="isUpload == true" style="color:green;">{{path}}</p></td>
                    </tr>
                    <tr>
                        <td>
           					<select name="category" ng-model="formData.category" required>
			        			<option value="">--Category--</option>
								<option value="article">article</option>
								<option value="product">product</option>			        			
			        		</select>
                        </td>
                        <td>
           					<input type="file" name="cover-photo" ng-file-select="onFileSelect($files)" required>
                        </td>
                        <td></td>
                    </tr>
                    <tr><td></td><td><input type="checkbox" ng-model="formData.fullSize" value="fullSize">&nbsp;&nbsp;Full size</td><td></td></tr>
                    <tr><td></td><td><input type="checkbox" ng-model="formData.thumbnail" value="thumbnail">&nbsp;&nbsp;Thumbnail</td><td></td></tr>
                    <tr><td></td><td><input type="checkbox" ng-model="formData.miniThumbnail" value="miniThumbnail">&nbsp;&nbsp;Mini Thumbnail</td><td></td></tr>
                    <tr><td></td><td><input type="checkbox" ng-model="formData.mobile" value="mobile">&nbsp;&nbsp;Save one set for mobile</td><td></td></tr>
                    <tr><td></td><td></td><td><input type="submit" class="btn btn-primary" value="Upload"></td></tr>
                </table>
            </form>
        </div>
    </div>     
</body>