
<ul class="nav nav-tabs" role="tablist" id="myTab">
	  <li><a href="/#/" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Articles</a></li>
	  <li><a href="/#/manageAnnouncement" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Announcements</a></li>
	  <li><a href="/#/managePosts" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Posts</a></li>
	  <li><a href="/#/manageComments" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Comments</a></li>
	  <li class="active"><a href="/#/manageQuestions" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Questions</a></li>
	  <li><a href="/#/manageAnswers" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Answers</a></li>
	  <li><a href="/#/manageCommunities" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Communities</a></li>
	  <li><a href="/#/manageUsers2" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Users</a></li>
	  <li><a href="/#/manageSubscriptions" role="tab" data-toggle="tab" style="cursor: pointer;">Subscriptions</a></li>
	  <li><a href="/#/manageGameAccount" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Game Account</a></li>
		  <li><a href="/#/manageRedemption" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Redemption</a></li
		  <li><a href="/#/managePhotoUpload" role="tab" data-toggle="tab" style="cursor: pointer;">Photo Upload</a></li>
</ul>

  <body>
  		<form action="/logout" method="get"><input type="submit" value="logout" style="margin-left: 92%;"></form>
  		<h4>Manage Questions</h4>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="myTab">
		  <li class="active"><a data-target="#reported" role="tab" data-toggle="tab">Reported({{size}})</a></li>
		  <li><a data-target="#deleted" role="tab" data-toggle="tab">Deleted({{size2}})</a></li>
		  <li><a data-target="#search" role="tab" data-toggle="tab">Search</a></li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="reported">
		  		<section id="container">
			    	<section class="" style="width:625px;margin-left: 26%;">
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="question in questions.results" class="row tm bg-white border-bottom">
			                            <td style="border: 1px solid;border-color: rgb(209, 205, 200);">
			                            <div style="background-color: #f3f3f3;border: 1px solid;border-color: rgb(209, 205, 200);margin-right: 5px;">
				                            <div>
				                            	<b>Type :</b> {{question.objectType}}
				                            	<button class="margin-none pull-right" ng-click="setData(question)" data-toggle="modal" data-target="#myModal3">Delete</button>
				                            </div>
				                            <div>	
				                            	<b>Category :</b> {{question.category}}
				                            </div>
				                            <div>	
				                            	<b>Reported On :</b> {{question.reportedDate}}
				                            </div>
				                            <div>	
				                            	<b>Reported By :</b> {{question.reportedBy}}
				                            </div>
				                            <div>	
				                            	<b>Comment :</b> {{question.comment}}
				                            </div>
				                         </div>   
				                            <div>
				                            	<b>Question Title :</b> {{question.postTitle}}
				                            </div>
				                            <div>
				                            	<b>Question Body :</b> {{question.postBody}}
				                            </div>
				                            <div>
				                            	<b>Question Image :</b> <div><img data-ng-src="/image/get-post-image-by-id/{{question.image}}" style="height:200px;width:300px;"/></div>
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber}}/{{pageSize}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
		  </div>
		  <div class="tab-pane" id="deleted">
		  		<section id="container">
			    	<section class="" style="width:625px;margin-left: 26%;">
			    		<section class="dadsrch" style="width:625px;">
			            	<section class="heading"><h2>Question Search By Community id</h2></section>
			                <section class="dadsrchdiv">
			                	<input name="searchByCommunity" type="text" ng-model="searchByCommunity" class="" style="height:1%;width:50%;" ng-keyup="$event.keyCode == 13 ? getDeletedInfoQuestions(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="getDeletedInfoQuestions(1)">
			                </section>
			            </section>
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="question in deletedQuestions.results" class="row tm bg-white border-bottom">
			                            <td style="border: 1px solid;border-color: rgb(209, 205, 200);">
			                            <div style="background-color: #f3f3f3;border: 1px solid;border-color: rgb(209, 205, 200);margin-right: 5px;">
				                            <div>
				                            	<b>Type :</b> {{question.objectType}}
				                            	<button class="margin-none pull-right" ng-click="setDeletedInfoData(question)" data-toggle="modal" data-target="#myModal5" ng-show="question.deleted == true">UnDelete</button>
				                            	<button class="margin-none pull-right" ng-click="setDeletedInfoData(question)" data-toggle="modal" data-target="#myModal6" ng-show="question.deleted == false">Delete</button>
				                            </div>
				                            <div>	
				                            	<b>Category :</b> {{question.category}}
				                            </div>
				                            <div>	
				                            	<b>Reported On :</b> {{question.reportedDate}}
				                            </div>
				                            <div>	
				                            	<b>Reported By :</b> {{question.reportedBy}}
				                            </div>
				                            <div>	
				                            	<b>Comment :</b> {{question.comment}}
				                            </div>
				                        </div>    
				                            <div>
				                            	<b>Question Title :</b> {{question.postTitle}}
				                            </div>
				                            <div>
				                            	<b>Question Body :</b> {{question.postBody}}
				                            </div>
				                            <div>
				                            	<b>Question Image :</b> <div><img data-ng-src="/image/get-post-image-by-id/{{question.image}}" style="height:200px;width:300px;"/></div>
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber2}}/{{pageSize2}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev2()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext2()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
		  </div>
		  <div class="tab-pane" id="search">
			    
			    <section id="container">
			    	<section class="" style="width:625px;margin-left: 26%;">
			        	<section class="dadsrch" style="width:625px;">
			            	<section class="heading"><h2>Question Search By Question id</h2></section>
			                <section class="dadsrchdiv">
			                	<input name="title" type="text" ng-model="title" class="" style="height:1%;width:50%;" ng-keyup="$event.keyCode == 13 ? searchQuestions(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchQuestions(1)">
			                </section>
			            </section>
			             
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="question in allQuestions.results" class="row tm bg-white border-bottom">
			                            <td style="border: 1px solid;border-color: rgb(209, 205, 200);">
			                            	 <div>
				                            	<b>Question Title :</b> {{question.title}}
				                            </div>
				                            <div>
				                            	<b>Question Body :</b> {{question.body}}
				                            	<button class="margin-none pull-right" ng-click="setQuestionData(question)" data-toggle="modal" data-target="#myModal5" ng-show="question.deleted == true">UnDelete</button>
				                            	<button class="margin-none pull-right" ng-click="setQuestionData(question)" data-toggle="modal" data-target="#myModal6" ng-show="question.deleted == false">Delete</button>
				                            </div>
				                            <div>
				                            	<b>Question Image :</b> <div><img data-ng-src="/image/get-post-image-by-id/{{question.image}}" style="height:200px;width:300px;"/></div>
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber3}}/{{pageSize3}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev3()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext3()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
			  
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Delete Modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Question Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteQuestion()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 2 -->
		<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Post Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to UnDelete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="UnDeletePost()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 5 -->
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Question UnDelete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to UnDelete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="unDeleteQuestionStatus()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 6 -->
		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Question Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to Delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteQuestionStatus()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>