<head>
    <div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body ng-init="searchFrontPageTopics()">
   <!--container begin-->
    <section id="container">
        <section class="contentpanel">
            <h4>Manage FrontPage Topics</h4>
            <!--Advance search fildes begin-->
            <section class="dadsrch">
                <section class="heading"><h2></h2></section>
                <section class="dadsrchdiv">
                    <input name="title" type="text" ng-model="title" class="" style="height:1%;" ng-keyup="$event.keyCode == 13 ? searchFrontPageTopics(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchFrontPageTopics(1)">
                </section>
            </section>
            <!--Advance search fildes end-->
            <section class="dactperform">
                <section class="left">
                    <input name="" type="button" value="Create" class="btnblue" ng-click="setDates()" data-toggle="modal" data-target="#myModal" />
                </section>
            </section>  
            <!--grid begin-->
            <section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                    <thead>
                        <tr>
                            <th style="width:50px;"><a>Active?</a></th>
                            <th style="width:80px;"><a>Type</a></th>
                            <th style="width:80px;"><a>SubType</a></th>
                            <th style="width:30px;"><a>Seq</a></th>
                            <th style="width:120px;"><a>Name</a></th>
                            <th style="width:auto;"><a>Description</a></th>
                            <th style="width:100px;"><a>Image</a></th>
                            <th style="width:100px;"><a>URL</a></th>
                            <th style="width:80px;"><a>Published</a></th>
                            <th><a></a></th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="frontPageTopic in frontPageTopics.results">
                            <td>
                                <span ng-show="{{frontPageTopic.ac}}" style="color:green;">YES</span>
                                <span ng-show="{{!frontPageTopic.ac}}" style="color:gray;">NO</span>
                            </td>
                            <td>{{frontPageTopic.ty}}</td>
                            <td>{{frontPageTopic.sty}}</td>
                            <td>{{frontPageTopic.seq}}</td>
                            <td>{{frontPageTopic.nm}}</td>
                            <td>{{frontPageTopic.ds}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{frontPageTopic.img}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{frontPageTopic.url}}</td>
                            <td>{{frontPageTopic.pd | date:'M/dd/yyyy HH:mm'}}</td>
                            <td>
                                <input type="button" value="Update" ng-click="setData(frontPageTopic)" data-toggle="modal" data-target="#myModal2" style="margin-bottom:5px;"/>
                                <input type="button" value="Delete" ng-click="setDeleteId(frontPageTopic)" data-toggle="modal" data-target="#myModal3" style="margin-bottom:5px;"/>
                                <input type="button" value="Toggle" ng-click="setToggleActiveId(frontPageTopic)" data-toggle="modal" data-target="#myModal4" style="margin-bottom:5px;"/>
                            </td>
                        </tr>
                        </tbody>
                </table>
            </section>
            <!--grid end-->
            
            <section class="dpaging">
                <h4>{{pageNumber}}/{{pageSize}}</h4>
                <span class="dpagingright">
                    <a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
                    <a href="" class="dpagingnxt" ng-click="onNext()">Next</a>
                </span>
            </section>
        </div>     
        </section>
    </section>
    <!--container end-->
  </div>
          <!-- Create Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create FrontPage Topic</h4>
              </div>
              <form method="post" ng-submit="saveFrontPageTopic()">
              <div class="modal-body">
              <table>
                    <tr>
                        <td><label>Topic Type</label></td>
                        <td style="height: 60px;">
                            <select name="topicType" data-ng-model="formData.topicType" style="width:100%;" required>
                                <option disabled="true" value="">--Select--</option>
                                <option value="SLIDER">SLIDER</option>
                                <option value="FEATURED">FEATURED</option>
                                <option value="PROMO">PROMO</option>
                            </select>
                        </td>
                        <label class="control-label error" data-ng-show="typeNotChoose==true" style="color: red;">Please select Topic Type</label>
                    </tr>
                    <tr>
                        <td><label>Topic SubType</label></td>
                        <td style="height: 60px;">
                            <select name="topicSubType" data-ng-model="formData.topicSubType" style="width:100%;" required>
                                <option disabled="true" value="">--Select--</option>
                                <option value="NONE">NONE</option>
                                <option value="FLASH">FLASH</option>
                                <option value="IMAGE">IMAGE</option>
                                <option value="IMAGE_TEXT">IMAGE_TEXT</option>
                            </select>
                        </td>
                        <label class="control-label error" data-ng-show="subTypeNotChoose==true" style="color: red;">Please select Topic SubType</label>
                    </tr>
                    <tr>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                        <td><label>Seq</label></td>
                        <td style="height: 60px;"><input type="text" name="seq" style="width:50%;" data-ng-model="formData.seq" value="1" required></td>
                    </tr>
                    <tr>
                        <td><label>Name</label></td>
                        <td style="height: 60px;"><input type="text" name="name" style="width:200%;" data-ng-model="formData.name" required></td>
                    </tr>
                    <tr>
                        <td><label>Description</label></td>
                        <td style="height: 60px;"><textarea type="text" name="description" style="width:200%;" data-ng-model="formData.description" required></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Image</label></td>
                        <td style="height: 60px;"><input type="text" name="image" style="width:200%;" data-ng-model="formData.image" required></td>
                    </tr>
                    <tr>
                        <td><label>URL</label></td>
                        <td style="height: 60px;"><input type="text" name="url" style="width:200%;" data-ng-model="formData.url" required></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
             </form>
            </div>
          </div>
        </div>
        
        <!-- Update Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Update FrontPage Topic</h4>
              </div>
              <form method="post" ng-submit="updateFrontPageTopic()">
              <div class="modal-body">
              <table>
                    <tr>
                        <td><label>Topic Type</label></td>
                        <td>
                            <select name="topicType" data-ng-model="frontPageTopicData.ty" style="width:100%;" required>
                                <option value="SLIDER">SLIDER</option>
                                <option value="FEATURED">FEATURED</option>
                                <option value="PROMO">PROMO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Topic SubType</label></td>
                        <td>
                            <select name="topicSubType" data-ng-model="frontPageTopicData.sty" style="width:100%;" required>
                                <option value="NONE">NONE</option>
                                <option value="FLASH">FLASH</option>
                                <option value="IMAGE">IMAGE</option>
                                <option value="IMAGE_TEXT">IMAGE_TEXT</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label>Seq</label></td>
                        <td><input type="text" name="seq" style="width:50%;" data-ng-model="frontPageTopicData.seq" required></td>
                    </tr>
                    <tr>
                        <td><label>Name</label></td>
                        <td><input type="text" name="name" style="width:200%;" data-ng-model="frontPageTopicData.nm" required></td>
                    </tr>
                    <tr>
                        <td><label>Description</label></td>
                        <td><textarea type="text" name="description" style="width:200%;" data-ng-model="frontPageTopicData.ds" required></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Image</label></td>
                        <td><input type="text" name="image" style="width:200%;" data-ng-model="frontPageTopicData.img" required></td>
                    </tr>
                    <tr>
                        <td><label>URL</label></td>
                        <td><input type="text" name="url" style="width:200%;" data-ng-model="frontPageTopicData.url" required></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
             </form>
            </div>
          </div>
        </div>
        
        <!-- Delete Modal -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">FrontPage Topic Delete</h4>
              </div>
              <div class="modal-body">
                Are you sure you want to delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="deleteFrontPageTopic(deleteId)">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Inactive Modal -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">FrontPage Topic Toggle Active</h4>
              </div>
              <div class="modal-body">
                Are you sure you want to toggle active?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="toggleActiveFrontPageTopic(toggleActiveId)">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
        
  </body>

