<head>
    <div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body style="margin:0; background-color:#F4FBFF;">
    <a href="/#/article/create"><button class="btn btn-primary" ><i class="fa fa-fw  fa-group"></i> Create new Article </button></a>
    <form action="/logout" method="get"><input type="submit" value="logout" style="margin-left: 92%;"></form>
    <div style="margin-left: 25%;">
        <label>Search By Id</label>
        <input type="text" ng-model="searchById" ng-keyup="$event.keyCode == 13 ? searchArticles() : null">
        <label>Search By Name</label>
        <input type="text" ng-model="searchByName" ng-keyup="$event.keyCode == 13 ? searchArticles() : null">
        <input name="" type="button" class="" value="Search" ng-click="searchArticles(searchById,searchByName)">
    </div>
    
    <div  data-ng-repeat="article in result"  class="row tm">
        <div class="col-md-3 col-lg-3"></div>
    
            <div class="col-md-6 col-lg-6 bg-white border-bottom" >
            <div  class="col-md-9 col-lg-9">
                 <div class="row tm">
                    <div class="col-md-4">
                        <div class="pull-right">
                                    <label>Title: </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6"> {{article.nm}} </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="pull-right">
                                    <label>Category: </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-10">  {{article.ct.name}} </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="pull-right">
                                    <label>Target Age: </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-10">  {{article.tamin}} to {{article.tamax}} months </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="pull-right">
                                    <label>Target Parent: </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-10">  {{article.tpg}} </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="pull-right">
                                    <label>Target Gender: </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-10">  {{article.tg}} </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="pull-right">
                                    <label>Target District: </label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-10">  {{article.tl.displayName}} </div>
                        </div>
                    </div>
                 </div>
            </div>
    
             <div class="col-md-3 col-lg-3">
                <div class="innerAll pull-right border-right ng-scope">
                    <a data-ng-href="#/article/edit/{{article.id}}"><button class="btn btn-primary" ><i class="fa fa-fw  fa-edit"></i> Edit </button></a>
                </div>
                
                <div class="innerAll pull-right border-right ng-scope">
                    <button class="btn btn-primary" data-toggle="modal" data-ng-click="assignDeleteId(article.id)" data-target="#myModal" ><span class="glyphicon glyphicon-remove-circle"></span> Delete </button>
                </div>
                
                <div class="innerAll pull-right border-right">
                      <button ng-controller="ShowArticlesController" data-ng-click="open(article.id)" class="btn btn-primary" ><i class="fa fa-fw  fa-group"></i> Show </button>
                </div>
                
             </div>
        </div>
        
        <div class="col-md-3 col-lg-3"></div>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Article Delete</h4>
                    </div>
                    <div class="modal-body" id="deleteArticleBody">
                        Are you sure you want to delete article?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-ng-click="deleteArticle(deleteID)">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Article Description</h4>
    </div>
       
    <div class="modal-body" id="showDescription"></div>

    <div class="modal-footer"></div>
</script>
