<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="../assets/app/custom-css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="../assets/app/custom-css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="../assets/app/custom-css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="../assets/app/custom-css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../assets/app/custom-css/bootstrap.css" rel="stylesheet">
	<link href="../assets/app/custom-css/bootstrap.min.css" rel="stylesheet">
	
	<script src="../assets/app/custom-js/bootstrap.js"></script>
	<script src="../assets/app/custom-js/bootstrap.min.js"></script>
	<div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>
  <body>
  		<h4>Manage Users</h4>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="myTab">
		  <li class="active"><a data-target="#reported" role="tab" data-toggle="tab">Reported({{size}})</a></li>
		  <li><a data-target="#deleted" role="tab" data-toggle="tab">Deleted({{size2}})</a></li>
		  <li><a data-target="#search" role="tab" data-toggle="tab">Search</a></li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="reported">
		  		<section id="container">
			    	<section class="contentpanel" style="width:625px;">
			             <section class="dactperform">
			                <section class="left">
			           		</section>
			           	</section>	
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="user in users.results">
			                            <td>
				                            <div>
				                            	Type : {{user.objectType}}
				                            	<button class="margin-none pull-right" ng-click="setData(user)" data-toggle="modal" data-target="#myModal3">Delete</button>
				                            </div>
				                            <div>	
				                            	Category : {{user.category}}
				                            </div>
				                            <div>	
				                            	Reported On : {{user.reportedDate}}
				                            </div>
				                            <div>	
				                            	Reported By : {{user.reportedBy}}
				                            </div>
				                            <div>	
				                            	Comment : {{user.comment}}
				                            </div>
				                            <div>
				                            	User Name : {{user.userName}}
				                            </div>
				                            <div>
				                            	ID : {{user.socialObjectID}}
				                            </div>
				                            <div>
				                            	Created On : 
				                            </div>
				                            <div>
				                            	Last Login : {{user.lastLogin}}
				                            </div>
				                            <div>
				                            	User Info : 
				                            	<div>
						                            		<div>About Me : {{user.aboutMe}}</div>
						                            		<div>Birth Year : {{user.birthYear}}</div>
						                            		<div>Location : {{user.location}}</div>
						                            		<div>Num Children : {{user.numChildren}}</div>
						                            		<div>Parent Type : {{user.parentType}}</div>
				                            	</div>
				                            </div>
				                            <div>
				                            	User Child Info : 
				                            	<div>
				                            		<table border=0 ng-table="abc">
						                            	<tr ng-repeat="child in user.userChildVms">
						                            		<td>Birth Day : {{child.birthDay}}</td>
						                            		<td>Birth Month : {{child.birthMonth}}</td>
						                            		<td>Birth Year : {{child.birthYear}}</td>
						                            		<td>Gender : {{child.gender}}</td>
						                            	</tr>
					                            	</table>
				                            	</div>
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber}}/{{pageSize}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
		  </div>
		  <div class="tab-pane" id="deleted">
		  		<section id="container">
			    	<section class="contentpanel" style="width:625px;">
			             <section class="dactperform">
			                <section class="left">
			           		</section>
			           	</section>	
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="user in deletedUsers.results">
			                            <td>
				                            <div>
				                            	Type : {{user.objectType}}
				                            	<button class="margin-none pull-right" ng-click="setDeletedInfoData(user)" data-toggle="modal" data-target="#myModal5" ng-show="user.deleted == true">UnDelete</button>
				                            	<button class="margin-none pull-right" ng-click="setDeletedInfoData(user)" data-toggle="modal" data-target="#myModal6" ng-show="user.deleted == false">Delete</button>
				                            </div>
				                            <div>	
				                            	Category : {{user.category}}
				                            </div>
				                            <div>	
				                            	Reported On : {{user.reportedDate}}
				                            </div>
				                            <div>	
				                            	Reported By : {{user.reportedBy}}
				                            </div>
				                            <div>	
				                            	Comment : {{user.comment}}
				                            </div>
				                            <div>
				                            	User Name : {{user.userName}}
				                            </div>
				                            <div>
				                            	ID : {{user.socialObjectID}}
				                            </div>
				                            <div>
				                            	Created On : 
				                            </div>
				                            <div>
				                            	Last Login : {{user.lastLogin}}
				                            </div>
				                            <div>
				                            	User Info : 
				                            	<div>
						                            		<div>About Me : {{user.aboutMe}}</div>
						                            		<div>Birth Year : {{user.birthYear}}</div>
						                            		<div>Location : {{user.location}}</div>
						                            		<div>Num Children : {{user.numChildren}}</div>
						                            		<div>Parent Type : {{user.parentType}}</div>
				                            	</div>
				                            </div>
				                            <div>
				                            	User Child Info : 
				                            	<div>
				                            		<table border=0 ng-table="abcd">
						                            	<tr ng-repeat="child in user.userChildVms">
						                            		<td>Birth Day : {{child.birthDay}}</td>
						                            		<td>Birth Month : {{child.birthMonth}}</td>
						                            		<td>Birth Year : {{child.birthYear}}</td>
						                            		<td>Gender : {{child.gender}}</td>
						                            	</tr>
					                            	</table>
				                            	</div>
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber2}}/{{pageSize2}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev2()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext2()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
		  </div>
		  <div class="tab-pane" id="search">
			    
			    <section id="container">
			    	<section class="contentpanel">
			        	<section class="dadsrch">
			            	<section class="heading"><h2>User Search</h2></section>
			                <section class="dadsrchdiv">
			                	<input name="title" type="text" ng-model="title" class="" style="height:1%;" ng-keyup="$event.keyCode == 13 ? searchUsers(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchUsers(1)">
			                </section>
			            </section>
			             
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="user in allUsers.results">
			                            <td>
				                            <div>
				                            	User Name : {{user.userName}}
				                            	<button class="margin-none pull-right" ng-click="setUserData(user)" data-toggle="modal" data-target="#myModal5" ng-show="user.deleted == true">UnDelete</button>
				                            	<button class="margin-none pull-right" ng-click="setUserData(user)" data-toggle="modal" data-target="#myModal6" ng-show="user.deleted == false">Delete</button>
				                            </div>
				                            <div>
				                            	ID : {{user.socialObjectID}}
				                            </div>
				                            <div>
				                            	Created On : 
				                            </div>
				                            <div>
				                            	Last Login : {{user.lastLogin}}
				                            </div>
				                            <div>
				                            	User Info : 
				                            	<div>
						                            		<div>About Me : {{user.aboutMe}}</div>
						                            		<div>Birth Year : {{user.birthYear}}</div>
						                            		<div>Location : {{user.location}}</div>
						                            		<div>Num Children : {{user.numChildren}}</div>
						                            		<div>Parent Type : {{user.parentType}}</div>
				                            	</div>
				                            </div>
				                            <div>
				                            	User Child Info : 
				                            	<div>
				                            		<table border=0 ng-table="abcd">
						                            	<tr ng-repeat="child in user.userChildVms">
						                            		<td>Birth Day : {{child.birthDay}}</td>
						                            		<td>Birth Month : {{child.birthMonth}}</td>
						                            		<td>Birth Year : {{child.birthYear}}</td>
						                            		<td>Gender : {{child.gender}}</td>
						                            	</tr>
					                            	</table>
				                            	</div>
				                            </div>
			                            </td>
			                            
			                            
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber3}}/{{pageSize3}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev3()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext3()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
			  
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Delete Modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">User Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteUser()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 2 -->
		<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Post Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to UnDelete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="UnDeletePost()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 5 -->
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">User UnDelete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to UnDelete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="unDeleteUserStatus()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 6 -->
		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">User Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to Delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteUserStatus()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
  </body>
  
  </html>