   <!--container begin-->
    <section id="container">
    	<section class="contentpanel">
        	
            <!--Advance search fildes begin-->
        	<section class="dadsrch">
            	<section class="heading"><h2>Search</h2></section>
                <section class="dadsrchdiv">
                <div>
                	<label>Status</label>
                	<select name="userStatus" data-ng-model="userStatus">
			        	<option selected="selected" value="-1">--Select--</option>
			        	<option value="0">SUSPENDED</option>
			        	<option value="1">ACTIVE</option>
			        </select>
                </div>
			        <input name="title" type="text" ng-model="title" class="" style="height:1%;width:40%;" ng-keyup="$event.keyCode == 13 ? searchUsers(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchUsers(1)">
                </section>
            </section>
            <!--Advance search fildes end-->
             <section class="dactperform">
                <section class="left">
           		</section>
           	</section>	
            <!--grid begin-->
        	<section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                	<thead>
                    	<tr>
                            <th><a>Display Name</a></th>
                            <th><a>Email</a></th>
                            <th><a>Action</a></th>
                        <tr>
                    </thead>
                	<tbody>
                    	<tr ng-repeat="user in usersData.results">
                            <td>{{user.displayName}}</td>
                            <td>{{user.email}}</td>
                            <td> <input name="" type="button" value="Suspend" ng-show="{{user.active == true}}" ng-click="suspendUser(user)" />
                            <input name="" type="button" value="Activate" ng-show="{{user.active == false}}" ng-click="activateUser(user)" /></td>
                        </tr>
                    	</tbody>
                </table>
        	</section>
            <!--grid end-->
            
            <section class="dpaging">
            	<h4>{{pageNumber}}/{{pageSize}}</h4>
            	<span class="dpagingright">
                	<a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a>
                </span>
            </section>
        </div>     
        </section>
    </section>
    <!--container end-->
  </div>