<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="../assets/app/custom-css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="../assets/app/custom-css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="../assets/app/custom-css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="../assets/app/custom-css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../assets/app/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"></script>
	<script type="text/javascript" src="../assets/app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<ul class="nav nav-tabs" role="tablist" id="myTab">
	  <li><a href="/#/" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Articles</a></li>
	  <li><a href="/#/manageAnnouncement" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Announcements</a></li>
	  <li><a href="/#/managePosts" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Posts</a></li>
	  <li><a href="/#/manageComments" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Comments</a></li>
	  <li><a href="/#/manageQuestions" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Questions</a></li>
	  <li><a href="/#/manageAnswers" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Answers</a></li>
	  <li><a href="/#/manageCommunities" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Communities</a></li>
	  <li><a href="/#/manageUsers2" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Users</a></li>
	  <li class="active"><a href="/#/manageSubscriptions" role="tab" data-toggle="tab" style="cursor: pointer;">Subscriptions</a></li>
	  <li><a href="/#/manageGameAccount" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Game Account</a></li>
		  <li><a href="/#/manageRedemption" role="tab" data-toggle="tab" style="cursor: pointer;">Manage Redemption</a></li>
		  <li><a href="/#/managePhotoUpload" role="tab" data-toggle="tab" style="cursor: pointer;">Photo Upload</a></li>
	</ul>
</head>

<body ng-init="searchSubscriptions(1)">
	<form action="/logout" method="get"><input type="submit" value="logout" style="margin-left: 92%;"></form>
   <!--container begin-->
    <section id="container">
    	<section class="contentpanel">
        	<h4>Manage Subscriptions</h4>
            <!--Advance search fildes begin-->
        	<section class="dadsrch">
            	<section class="heading"><h2></h2></section>
                <section class="dadsrchdiv">
                	
                <table class="table">
                <tr>
                	<th>User Name :</th>
                	<td><input name="userName" type="text" ng-model="title" class="" style="width:250px;height:25px;"></td>
                </tr>
                <tr>
                	<th>Gender</th>
                	<td>
                			<select name="gender" ng-model="gender">
			        			<option selected="selected" value=" ">--All--</option>
			        			<option value="Male">Male</option>
			        			<option value="Female">Female</option>
			        		</select>
			       </td>
                </tr>
                <tr>
                	<th>
                		Location
                	</th>
                	<td>
                			<select name="location" ng-model="location">
			        			<option selected="selected" value=" ">--All--</option>
								<option ng-repeat="location in allLocations" value="{{location.id}}">{{location.displayName}}</option>			        			
			        		</select>
                	</td>
                </tr>
                <tr>
                	<th>Subscription type :</th>
                	<td>
                			<select name="subscription" ng-model="subscription">
			        			<option selected="selected" value=" ">--All--</option>
			        			<option ng-repeat="sub in allSubscriptions" value="{{sub.id}}">{{sub.nm}}</option>
			        		</select>
                	</td>
                </tr>
                <tr><td></td><td></td><td><input name="" type="button" class="btn-blue mrtop10 left" value="Search" ng-click="searchSubscriptions(1)"></td></tr>
                </table>
                </section>
            </section>
             
            <!--grid begin-->
        	<section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                	<thead>
                    	<tr>
                            <th><a>Display Name</a></th>
                            <th><a>Email</a></th>
                        <tr>
                    </thead>
                	<tbody>
                    	<tr ng-repeat="user in allUsers.results">
                            <td>{{user.displayName}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    	</tbody>
                </table>
        	</section>
            <!--grid end-->
            
            <section class="dpaging">
            	<h4>{{pageNumber}}/{{pageSize}}</h4>
            	<span class="dpagingright">
                	<a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a>
                </span>
            </section>
            <div style="margin-left: 44%;">
            	<input type="button" value="Send Mail" class="btn-blue mrtop10 left" ng-click="sendEmails()">
            </div>
            <div style="float: left;width: 100%;margin-left: 44%;margin-top: 5%;">
            	<p ng-show="isMailSent" style="color: green;font: bold;">Mails sent successfully</p>
            </div>
        </div>     
        </section>
    </section>
    <!--container end-->
  </div>
  
  </body>
  </html>
