<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="../assets/app/custom-css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="../assets/app/custom-css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="../assets/app/custom-css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="../assets/app/custom-css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../assets/app/custom-css/bootstrap.css" rel="stylesheet">
	<link href="../assets/app/custom-css/bootstrap.min.css" rel="stylesheet">
	
	<script src="../assets/app/custom-js/bootstrap.js"></script>
	<script src="../assets/app/custom-js/bootstrap.min.js"></script>
	<div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>
  <body>
  		<h4>Manage Answers</h4>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="myTab">
		  <li class="active"><a data-target="#reported" role="tab" data-toggle="tab">Reported({{size}})</a></li>
		  <li><a data-target="#deleted" role="tab" data-toggle="tab">Deleted({{size2}})</a></li>
		  <li><a data-target="#search" role="tab" data-toggle="tab">Search</a></li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="reported">
		  		<section id="container">
			    	<section class="contentpanel" style="width:625px;">
			             <section class="dactperform">
			                <section class="left">
			           		</section>
			           	</section>	
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="answer in answers.results">
			                            <td>
				                            <div>
				                            	Type : {{answer.objectType}}
				                            	<button class="margin-none pull-right" ng-click="setData(answer)" data-toggle="modal" data-target="#myModal3">Delete</button>
				                            </div>
				                            <div>	
				                            	Category : {{answer.category}}
				                            </div>
				                            <div>	
				                            	Reported On : {{answer.reportedDate}}
				                            </div>
				                            <div>	
				                            	Reported By : {{answer.reportedBy}}
				                            </div>
				                            <div>	
				                            	Comment : {{answer.comment}}
				                            </div>
				                            <div>
				                            	Answer Body : {{answer.commentBody}}
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber}}/{{pageSize}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
		  </div>
		  <div class="tab-pane" id="deleted">
		  		<section id="container">
			    	<section class="contentpanel" style="width:625px;">
			             <section class="dactperform">
			                <section class="left">
			           		</section>
			           	</section>	
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="answer in deletedAnswers.results">
			                            <td>
				                            <div>
				                            	Type : {{answer.objectType}}
				                            	<button class="margin-none pull-right" ng-click="setDeletedInfoData(answer)" data-toggle="modal" data-target="#myModal5" ng-show="answer.deleted == true">UnDelete</button>
				                            	<button class="margin-none pull-right" ng-click="setDeletedInfoData(answer)" data-toggle="modal" data-target="#myModal6" ng-show="answer.deleted == false">Delete</button>
				                            </div>
				                            <div>	
				                            	Category : {{answer.category}}
				                            </div>
				                            <div>	
				                            	Reported On : {{answer.reportedDate}}
				                            </div>
				                            <div>	
				                            	Reported By : {{answer.reportedBy}}
				                            </div>
				                            <div>	
				                            	Comment : {{answer.comment}}
				                            </div>
				                            <div>
				                            	Answer Body : {{answer.commentBody}}
				                            </div>
				                            
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber2}}/{{pageSize2}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev2()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext2()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
		  </div>
		  <div class="tab-pane" id="search">
			    
			    <section id="container">
			    	<section class="contentpanel">
			        	<section class="dadsrch">
			            	<section class="heading"><h2>Answer Search</h2></section>
			                <section class="dadsrchdiv">
			                	<input name="title" type="text" ng-model="title" class="" style="height:1%;" ng-keyup="$event.keyCode == 13 ? searchAllAnswers(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchAllAnswers(1)">
			                </section>
			            </section>
			             
			        	<section class="dgridinfo dactcln">
			                <table ng-table="tableParams">
			                	<tbody>
			                    	<tr ng-repeat="answer in allAnswers.results">
			                            <td>
				                            <div>
				                            	Answer Body : {{answer.body}}
				                            	<button class="margin-none pull-right" ng-click="setAnswerData(answer)" data-toggle="modal" data-target="#myModal5" ng-show="answer.deleted == true">UnDelete</button>
				                            	<button class="margin-none pull-right" ng-click="setAnswerData(answer)" data-toggle="modal" data-target="#myModal6" ng-show="answer.deleted == false">Delete</button>
				                            </div>
				                            <div>
				                            	Answer Image : <!-- <img class="post-title-user-image" data-ng-src="/image/get-mini-image-by-id/{{post.image}}"/> -->
				                            </div>
			                            </td>
			                        </tr>
			                    	</tbody>
			                </table>
			        	</section>
			            <section class="dpaging">
			            	<h4>{{pageNumber3}}/{{pageSize3}}</h4>
			            	<span class="dpagingright">
			                	<a href="" class="dpagingprv" ng-click="onPrev3()">Prev</a>
			                	<a href="" class="dpagingnxt" ng-click="onNext3()">Next</a>
			                </span>
			            </section>
			        </section>
			    </section>
			  
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Delete Modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Comment Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteAnswer()">Yes</button>
		      	
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 2 -->
		<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Post Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to UnDelete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="UnDeletePost()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 5 -->
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Answer UnDelete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to UnDelete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="unDeleteAnswerStatus()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Delete Modal 6 -->
		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Answer Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to Delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteAnswerStatus()">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
  </body>
  
  </html>