<head>
    <div data-ng-include data-src="'../assets/app/views/header.html'"></div>
</head>

<body ng-init="searchPKViews()">
   <!--container begin-->
    <section id="container">
        <section class="contentpanel">
            <h4>Manage PK Views</h4>
            <!--Advance search fildes begin-->
            <section class="dadsrch">
                <section class="heading"><h2></h2></section>
                <section class="dadsrchdiv">
                    <input name="title" type="text" ng-model="title" class="" style="height:1%;" ng-keyup="$event.keyCode == 13 ? searchPKViews(1) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchPKViews(1)">
                </section>
            </section>
            <!--Advance search fildes end-->
            <section class="dactperform">
                <section class="left">
                    <input name="" type="button" value="Create" class="btnblue" ng-click="resetData()" data-toggle="modal" data-target="#myModal" />
                </section>
            </section>  
            <!--grid begin-->
            <section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                    <thead>
                        <tr>
                            <th style="width:30px;"><a>ID</a></th>
                            <th style="width:80px;"><a>Community</a></th>
                            <th style="width:auto;"><a>Title</a></th>
                            <th style="width:120px;"><a>Text</a></th>
                            <th style="width:80px;"><a>Image</a></th>
                            <th style="width:100px;"><a>[Yes Text</a></th>
                            <th style="width:80px;"><a>Image</a></th>
                            <th style="width:30px;"><a>Vote]</a></th>
                            <th style="width:100px;"><a>[No Text</a></th>
                            <th style="width:80px;"><a>Image</a></th>
                            <th style="width:30px;"><a>Vote]</a></th>
                            <th style="width:80px;"><a>Posted On</a></th>
                            <th><a></a></th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pkview in pkviews.results">
                            <td>{{pkview.id}}</td>
                            <td>{{pkview.cn}} ({{pkview.cid}})</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.ptl}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.pt}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.im}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.red_ds}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.red_img}}</td>
                            <td>{{pkview.n_rv}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.blue_ds}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;">{{pkview.blue_img}}</td>
                            <td>{{pkview.n_bv}}</td>
                            <td>{{pkview.t | date:'M/dd/yyyy HH:mm'}}</td>
                            <td>
                                <input type="button" value="Update" ng-click="setData(pkview)" data-toggle="modal" data-target="#myModal2" style="margin-bottom:5px;"/>
                                <input type="button" value="Delete" ng-click="setDeleteId(pkview.id)" data-toggle="modal" data-target="#myModal3" style="margin-bottom:5px;"/>
                            </td>
                        </tr>
                        </tbody>
                </table>
            </section>
            <!--grid end-->
        </div>     
        </section>
    </section>
    <!--container end-->
  </div>
        <!-- Create Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create PK View</h4>
              </div>
              <form method="post" ng-submit="savePKView()">
              <div class="modal-body">
              <table>
                    <tr>
                        <td><label>Community ID</label></td>
                        <td style="height: 50px;"><input type="text" name="community_id" style="width:50%;" data-ng-model="formData.community_id"></td>
                    </tr>
                    <tr>
                        <td><label>Title</label></td>
                        <td style="height: 50px;"><input type="text" name="title" style="width:200%;" data-ng-model="formData.title"></td>
                    </tr>
                    <tr>
                        <td><label>Text</label></td>
                        <td style="height: 50px;"><textarea type="text" name="text" style="width:200%;" data-ng-model="formData.text" rows="3"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Image</label></td>
                        <td style="height: 50px;"><input type="text" name="image" style="width:200%;" data-ng-model="formData.image"></td>
                    </tr>
                    <tr>
                        <td><label>Yes Text</label></td>
                        <td style="height: 50px;"><textarea type="text" name="yes_text" style="width:200%;" data-ng-model="formData.yes_text" rows="2"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Yes Image</label></td>
                        <td style="height: 50px;"><input type="text" name="yes_image" style="width:200%;" data-ng-model="formData.yes_image"></td>
                    </tr>
                    <tr>
                        <td><label>No Text</label></td>
                        <td style="height: 50px;"><textarea type="text" name="no_text" style="width:200%;" data-ng-model="formData.no_text" rows="2"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>No Image</label></td>
                        <td style="height: 50px;"><input type="text" name="yes_image" style="width:200%;" data-ng-model="formData.no_image"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
             </form>
            </div>
          </div>
        </div>
        
        <!-- Update Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Update PK View</h4>
              </div>
              <form method="post" ng-submit="updatePKView()">
              <div class="modal-body">
              <table>
                    <tr>
                        <td><label>Community ID</label></td>
                        <td style="height: 50px;"><input type="text" name="community_id" style="width:50%;" data-ng-model="pkviewData.cid"></td>
                    </tr>
                    <tr>
                        <td><label>Title</label></td>
                        <td style="height: 50px;"><input type="text" name="title" style="width:200%;" data-ng-model="pkviewData.ptl"></td>
                    </tr>
                    <tr>
                        <td><label>Text</label></td>
                        <td style="height: 50px;"><textarea type="text" name="text" style="width:200%;" data-ng-model="pkviewData.pt" rows="3"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Image</label></td>
                        <td style="height: 50px;"><input type="text" name="image" style="width:200%;" data-ng-model="pkviewData.img"></td>
                    </tr>
                    <tr>
                        <td><label>Yes Text</label></td>
                        <td style="height: 50px;"><textarea type="text" name="yes_text" style="width:200%;" data-ng-model="pkviewData.red_ds" rows="2"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Yes Image</label></td>
                        <td style="height: 50px;"><input type="text" name="yes_image" style="width:200%;" data-ng-model="pkviewData.red_img"></td>
                    </tr>
                    <tr>
                        <td><label>No Text</label></td>
                        <td style="height: 50px;"><textarea type="text" name="no_text" style="width:200%;" data-ng-model="pkviewData.blue_ds" rows="2"></textarea></td>
                    </tr>
                    <tr>
                        <td><label>No Image</label></td>
                        <td style="height: 50px;"><input type="text" name="yes_image" style="width:200%;" data-ng-model="pkviewData.blue_img"></td>
                    </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
             </form>
            </div>
          </div>
        </div>
        
        <!-- Delete Modal -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete PK View</h4>
              </div>
              <div class="modal-body">
                Are you sure you want to delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="deletePKView(deleteId)">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
        
  </body>

